{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "at-rule-empty-line-before": null,
    "at-rule-name-space-after": null,
    "comment-empty-line-before": null,
    "declaration-bang-space-before": null,
    "declaration-empty-line-before": null,
    "function-comma-newline-after": null,
    "function-max-empty-lines": null,
    "function-name-case": null,
    "function-parentheses-newline-inside": null,
    "function-whitespace-after": null,
    "number-leading-zero": null,
    "number-no-trailing-zeros": null,
    "at-rule-no-unknown": null,
    "order/order": [
      "custom-properties",
      "dollar-variables",
      "declarations"
    ],
    "order/properties-alphabetical-order": true,
    "rule-empty-line-before": null,
    "selector-combinator-space-after": null,
    "selector-list-comma-newline-after": null,
    "selector-pseudo-class-no-unknown": null,
    "selector-pseudo-element-colon-notation": null,
    "selector-type-no-unknown": null,
    "shorthand-property-no-redundant-values": null,
    "unit-no-unknown": null,
    "value-list-max-empty-lines": null
  }
}
